/* Media queries */
@media screen and (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p,
    .exibitions p,
    .specialevent p,
    .visit p,
    #home {
        font-size: 18px;
        margin: 15px;
    }
    h1 {
        font-size: 30px;
    }
    /*Header*/
    .logo {
        height: 100px;
        margin: 10px;
    }
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        right: -120%;
        background: #B3C1C7;
        top: 124px;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 55px 0;
    }
    nav ul li a {
        font-family: 'Abril Fatface', Helvetica, sans-serif;
        font-size: 40px;
        color: black;
    }
    #check:checked ~ ul {
        right: -70px;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display: block;
    }

    /*Home page*/
    .explore {
        width: 100vw;
        position: initial;
        height: 250px;
    }
    .explore p {
        margin-bottom: 30px;
    }
    #dinosaur {
        top: 1385px;
        font-size: 20px;
    }
    .cta {
        padding: 15px 100px;
        font-size: 20px;
    }
    .coverpic {
        width: 100vw;
    }
    .container-img {
        display: none;
    }
    .home1, .home2 {
        display: block;
        height: auto;
    }
    .slider {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        overflow: scroll;
        width: 96vw;
    }
    .slider img {
        height: 250px;
        width: 85%;
        object-fit: cover;
    }

    /*Exibitions page*/
    .exibitions h1 {
        margin: 0px 20px;
    }

    /*Special Events page*/
    .special img {
        height: 450px;
        width: 350px;
    }
    .specialevent {
        width: 300px;
    }
    .box {
        height: fit-content;
        width: min-content;
    }

    /*Explore page*/
    .explore-involved img,
    .exibitions img {
        height: 300px;
        min-width: 100%;
        max-width: 350px;
    }
    .explore1, .explore3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .explore2 {
        display: flex;
        flex-direction: column;
    }
    #kidimg {
        object-position: 0%;
    }
    .explore-involved h1 {
        margin-left: 15px;
    }

    /*Visit page*/
    .visit {
        grid-template-areas:
        "location location"
        "hours access"
        "admission shop";
        margin: 10px;
        gap: 10px;
    }
    .location {
        max-width: 350px;
    }
    .hours, .access,
    .admission, .shop {
        max-width: 170px;
    }
    .hours, .access {
        height: 420px;
    }
    .admission, .shop {
        height: 610px;
    }
    .access img, .hours img, 
    .admission img, .shop img {
        width: 100%;
        height: 250px;
    }
    .visit h1 {
        margin: 5px;
        font-size: 25px;
    }
    .hours p {
        line-height: 20px;
    }
    .visit p {
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}