@import url(styles.css);

@media screen and (max-width: 809px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p,
    .exibitions p,
    .specialevent p,
    .visit p,
    #home {
        font-size: 18px;
        margin: 15px;
    }
    h1 {
        font-size: 30px;
        font-weight: 100;
    }

    /*Header*/
    .logo {
        height: 100px;
        margin: 10px;
    }
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: var(--full-size);
        height: var(--full-size);
        right: -120%;
        background: var(--light-blue);
        top: 134px;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        margin: 55px 0;
    }
    nav ul li a {
        font-family: var(--header-font);
        font-size: 35px;
        color: var(--black);
    }
    #check:checked ~ ul {
        right: -30px;
    }
    #check:checked ~ label #btn {
        display: none;
    }
    #check:checked ~ label #cancel {
        display: block;
    }

    /*Home page*/
    .explore {
        width: var(--screen-size);
        position: initial;
        height: 250px;
    }
    .explore p {
        margin-bottom: 30px;
    }
    #dinosaur {
        color: var(--black);
        filter: none;
        font-size: 20px;
        margin-top: auto;
        position: relative;
    }
    #dino {
        color: var(--black)
    }
    .cta {
        padding: 15px 100px;
        font-size: 20px;
    }
    .coverpic {
        width: var(--screen-size);
    }
    .container-img {
        display: none;
    }
    .home1, .home2 {
        display: block;
        height: auto;
    }
    .slider {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        overflow: scroll;
        width: 96vw;
    }
    .slider img {
        height: 250px;
        width: 85%;
        object-fit: cover;
    }

    /*Exibitions page*/
    .exibitions h1 {
        margin: 0px 20px;
    }

    /*Special Events page*/
    .special img {
        height: 450px;
        width: var(--full-size);
    }
    .specialevent {
        width: var(--screen-size);
        margin: 0px;
        margin-bottom: 15px;
    }
    .special {
        min-width: var(--full-size);
        align-items: center;
    }
    .box {
        height: fit-content;
        width: var(--full-size);
    }
    .special h1 {
        margin: 15px;
    }    

    /*Explore page*/
    .explore-involved img,
    .exibitions img {
        height: 300px;
        min-width: var(--full-size);
        max-width: 350px;
    }
    .explore1, .explore3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .explore2 {
        display: flex;
        flex-direction: column;
    }
    #kidimg {
        object-position: 0%;
    }
    .explore-involved h1 {
        margin-left: 15px;
    }

    /*Visit page*/
    .visit {
        grid-template-areas:
        "location location"
        "hours access"
        "admission shop";
        margin: 10px;
        gap: 10px;
        grid-template-columns: minmax(45vw, 100%) minmax(45vw, 100%);
    }

    .location,
    .hours, 
    .access,
    .admission, 
    .shop {
        max-width: var(--full-size);
    }
    .hours, .access {
        height: 430px;
    }
    .admission, .shop {
        height: 630px;
    }
    .access img, .hours img, 
    .admission img, .shop img {
        width: var(--full-size);
        max-height: 250px;
        min-height: 250px;
    }
    .visit h1 {
        margin: 5px;
        font-size: 25px;
    }
    .hours p {
        line-height: 20px;
    }
    .visit p {
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    p,
    .exibitions p,
    .specialevent p,
    .visit p,
    #home {
        font-size: 20px;
        margin: 20px;
    }
    h1 {
        font-size: 32px;
        font-weight: 100;
    }

    /*Header*/
    .logo {
        height: 120px;
        margin: 10px;
    }
    label #btn {
        font-size: 65px;
        margin: 33px 10px;
    }
    ul {
        width: 50%;
        height: fit-content;
    }
    nav ul li {
        margin: 30px 0;
    }
    nav ul li a {
        line-height: 75px;
    }
    #check:checked ~ label #cancel {
        font-size: 80px;
        margin: 25px;
    }

    /*Exibitions page*/
    .pic1, .pic2, 
    .pic3, .pic4 {
        object-position: bottom;
    }
    .exibitions h1 {
        margin: 20px;
    }
    .exibitions img,
    .explore-involved img {
        width: var(--full-size);
    }

    /*Explore page*/
    #kidimg {
        object-position: 22%;
    }

    /*Visit page*/
    .visit {
        margin: 25px;
    }
    .hours p {
        line-height: 35px;
    }
    .hours, .access,
    .admission, .shop {
        max-width: 400px;
        height: var(--full-size);
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .logo {
        height: 120px;
        margin: 10px;
    }
    nav ul {
        margin-right: 10px;
    }
    nav ul li a {
        font-size: 20px;
    }
    .specialevent {
        width: var(--screen-size);
        margin: 0px;
        margin-bottom: 15px;
    }
    .explore1,
    .explore2,
    .explore3 {
        grid-template-columns: 50% 50%;
        grid-gap: 0;
    }
    .visit {
        grid-template-columns: minmax(30vw, 100%) minmax(30vw, 100%) minmax(30vw, 100%);
        margin: 15px;
        gap: 10px;
    }
    .access img,
    .admission img,
    .shop img,
    .exibitions img {
        width: var(--full-size);
    }
    .shop img {
        object-position: 80% 0%;
    }
    .exibitions p,
    #home {
        margin: 20px 60px;
    }
    .explore {
        bottom: 45px;
        right: 45px;
    }
}